--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface
chromadb
pypdf
python-dotenv